{% extends "base.html" %}

{% block body %}
  <div class="container">
    <h1>Confirm Your Password</h1>
    <p>Please confirm your password before continuing.</p>
    <form action="/setup" method="POST">
      <fieldset>
        <div class="form-group">
          <input type="password" class="form-control {% if error %}is-invalid{% end %}" name="password" placeholder="Confirm password">
          {% if error %}
            <div class="invalid-feedback">Incorrect password.</div>
          {% end %}
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Continue</button>
        </div>
      </fieldset>
    </form>
  </div>
{% end %}
