{% extends "base.html" %}

{% block body %}
  <div class="container">
    {% if error %}
      <div class="alert alert-danger alert-dismissible show" role="alert">
        <strong>Error:</strong> {{ error }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% end %}
    <h1>Upload</h1>
    <p>Upload a file.</p>
    <form action="/upload" enctype="multipart/form-data" method="POST">
      <fieldset>
        <div class="form-group">
          <input type="file" class="form-control-file" name="fileInput" id="fileInput">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Upload</button>
        </div>
      </fieldset>
    </form>
  </div>
{% end %}
